.controls {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  margin-block-start: 3rem;
  font-size: calc(0.5rem + 1vi);
}

.button {
  display: flex;
  align-items: center;
  background: none;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
  color: whitesmoke;
  opacity: 0.5;
  transition: all 0.15s ease-in-out;
}

.active {
  opacity: 1;
}

.button:hover {
  opacity: 1;
}

.button:focus-visible {
  outline: none;
}

/* tabs */

/* .header {
  margin: 0;
  padding: 0;
}

.tab-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  border: 2px solid lightslategray;
  border-inline-end: none;
  border-block-end: none;
  padding: 1rem;
  background: lightgray;
}

.link:last-child {
  border-inline-end: 2px solid lightslategray;
}

.active {
  border-block-end: none;
  position: relative;
  z-index: 0;
  background: transparent;
}

.active::after {
  content: "";
  background-color: whitesmoke;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
}

.tab-content {
  border: 2px solid lightslategray;
  padding: 0 1rem 1rem;
} */
