.input {
  border-block-end: 0.125rem solid;
  background: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-block: 0 1rem;
}

.field {
  border: 0;
  outline: 0;
  flex: 1;
  background: transparent;
}

.error {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-block: 0.2rem 0;
  color: rgb(250, 108, 92);
}

.controls {
  display: block;
}

.label,
.toggle-label {
  font-weight: bold;
  letter-spacing: 0.05em;
}

.field-group {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}

.toggle-label {
  display: block;
  cursor: pointer;
  margin-block: 0 0.2rem;
}

.toggle-checkbox {
  display: none;
}

.toggle-options {
  display: inline-flex;
  border: 0.125rem solid #251e62;
}

.toggle-option {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  padding: 0.1rem 0.4rem;
  min-inline-size: 2.5rem;
}

.toggle-checkbox:not(:checked) + .toggle-options > .toggle-option:nth-child(1) {
  color: whitesmoke;
  background-color: #251e62;
}

.toggle-checkbox:checked + .toggle-options > .toggle-option:nth-child(2) {
  color: whitesmoke;
  background-color: #251e62;
}
