.input {
  border-block-end: 0.125rem solid;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-block: 0 1rem;
}

.field {
  border: 0;
  outline: 0;
  flex: 1;
}

.error {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-block: 0.2rem 0;
  color: rgb(250, 108, 92);
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.controls {
  display: block;
}

.label,
.toggle-field-label {
  font-weight: bold;
  letter-spacing: 0.05em;
}

.field-group {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}

.toggle-field-label {
  display: block;
}

.toggle-group {
  display: inline-flex;
  border: 0.125rem solid #251e62;
  margin-block: 0.2rem 0;
}

.toggle-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
  cursor: pointer;
  background: transparent;
  inline-size: 3rem;
  padding: 0.1em 0.3em;
  color: #2d2727;
}

.toggle-label:has(> .toggle-input:checked) {
  background-color: #251e62;
  color: whitesmoke;
}

.toggle-input {
  display: none;
}
