.title {
  text-align: center;
  font-size: calc(1.8rem + 1vi);
  text-transform: uppercase;
  cursor: help;
}

.pomos {
  font-size: calc(0.8rem + 1vi);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.tooltip {
  cursor: help;
}

.trophy {
  font-size: calc(1rem + 1vi);
  margin-inline-end: 0.2rem;
}

.wiggle {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
    transform: scale(1);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
