.pomodoro {
  text-align: center;
}

.wrapper {
  cursor: pointer;
}

.summary {
  font-size: calc(0.4rem + 1vi);
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
}

.intervals {
  display: inline-flex;
  gap: 0.5em;
  font-size: calc(0.2rem + 1vi);
}

.interval {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}

.interval:nth-child(2)::before {
  content: "\2022";
}

.interval:nth-child(2)::after {
  content: "\2022";
}

.tooltip {
  cursor: help;
}

.trophy {
  font-size: calc(1rem + 1vi);
  margin-inline-end: 0.2rem;
}

.wiggle {
  animation: wiggle 2s linear forwards;
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
    transform: scale(1);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
