.intervals {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.interval {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.interval:hover {
  opacity: 1;
}

.active {
  font-size: calc(1rem + 1vi);
  opacity: 1;
  cursor: help;
}
