.modal {
  position: absolute;
  inset: 0;
  margin: auto;
  box-shadow: #00000029 2px 2px 5px 2px;
  background-color: whitesmoke;
  overflow-y: auto;
  min-inline-size: 40vi;
  max-block-size: 90vb;
  padding: calc(8px + 1.5625vw);
}

.modal::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #251e62;
}

.close {
  background: none;
  border: 0;
  outline: 0;
  font-size: x-large;
  cursor: pointer;
  color: #2d2727;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.2em;
}
