.settings {
  padding-inline: calc(8px + 1.5625vw);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0 0.5rem;
  color: #251e62;
}

.close {
  background: none;
  border: 0;
  outline: 0;
  font-size: x-large;
  cursor: pointer;
  color: #2d2727;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  margin-block: 1.5rem calc(8px + 1.5625vw);
  justify-content: right;
  gap: calc(8px + 5vw);
}

.button {
  background: none;
  border: 0.13rem solid #2d2727;
  padding: 0.5em;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
  color: #2d2727;
}

.primary {
  display: flex;
  gap: 0.5rem;
}

.button-primary {
  color: white;
  background-color: #251e62;
  border: 0.13rem solid #251e62;
}
