.button {
  font-size: calc(0.8rem + 1vi);
  background: none;
  border: 0.18rem solid whitesmoke;
  color: whitesmoke;
  padding: 0.4em;
  border-radius: 5rem;
  cursor: pointer;
  min-inline-size: 10ch;
  opacity: 0.8;
  transition: all 0.15s ease-in-out;
}

.button:hover {
  opacity: 1;
}
