.timers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-active {
  font-family: "Lemon", cursive;
  font-size: calc(3rem + 2vi);
  flex: 0 0 4.6ch;
}

.timer-inactive {
  font-size: calc(1rem + 1vi);
  flex: 0 0 7ch;
}

.auto-next {
  cursor: help;
}

.up-next {
  display: flex;
  gap: 0.5rem;
  font-size: smaller;
  color: #f0eb8d;
}

.timer {
  display: flex;
  gap: 0.5rem;
  margin-block: 0.3rem 0;
  cursor: help;
}
