.iframe {
  display: block;
  border: none;
  position: absolute;
  inset-inline-start: 1rem;
  inset-block-end: 1rem;
  inline-size: calc(15rem + 1vi);
  block-size: calc(8rem + 1vi);
}

.button {
  display: flex;
  align-items: center;
  background: none;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
  color: whitesmoke;
  opacity: 0.5;
  transition: all 0.15s ease-in-out;
}

.active {
  opacity: 1;
}

.button:hover {
  opacity: 1;
}

.button:focus-visible {
  outline: none;
}
