@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Sofia+Sans:wght@400&display=swap");

body {
  display: grid;
  place-content: center;
  font-family: "Sofia Sans", sans-serif;
  position: relative;
}

.wrapper {
  display: grid;
  gap: 0.5rem;
}

/* .intervals {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-basis: 20ch;
  align-items: center;
}

.interval-active {
  font-family: "Lemon", cursive;
  font-size: calc(3rem + 2vi);
}

.interval-inactive {
  font-size: calc(1rem + 1vi);
}

.up-next {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: smaller;
} */

/* .wrapper {
  display: grid;
  gap: calc(0.5rem + 1vi);
  margin: 2rem;
} */

/* .sessions {
  font-size: calc(1rem + 1vi);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.button {
  font-size: calc(0.8rem + 1vi);
  background: none;
  border: 0.18rem solid black;
  padding: 0.25em 1em;
  border-radius: 5rem;
  cursor: pointer;
}

.button:active {
  transform: translateY(0.063rem);
}

.text-controls {
  display: block;
  margin-block: 1rem;
  font-size: calc(0.8rem + 1vi);
}



.toggle-wrapper {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

.toggle-label {
  font-size: calc(0.8rem + 1vi);
}

.toggle-wrapper .tgl {
  display: none;
}
.toggle-wrapper .tgl,
.toggle-wrapper .tgl:after,
.toggle-wrapper .tgl:before,
.toggle-wrapper .tgl *,
.toggle-wrapper .tgl *:after,
.toggle-wrapper .tgl *:before,
.toggle-wrapper .tgl + .tgl-btn {
  box-sizing: border-box;
}
.toggle-wrapper .tgl::-moz-selection,
.toggle-wrapper .tgl:after::-moz-selection,
.toggle-wrapper .tgl:before::-moz-selection,
.toggle-wrapper .tgl *::-moz-selection,
.toggle-wrapper .tgl *:after::-moz-selection,
.toggle-wrapper .tgl *:before::-moz-selection,
.toggle-wrapper .tgl + .tgl-btn::-moz-selection,
.toggle-wrapper .tgl::selection,
.toggle-wrapper .tgl:after::selection,
.toggle-wrapper .tgl:before::selection,
.toggle-wrapper .tgl *::selection,
.toggle-wrapper .tgl *:after::selection,
.toggle-wrapper .tgl *:before::selection,
.toggle-wrapper .tgl + .tgl-btn::selection {
  background: none;
}
.toggle-wrapper .tgl + .tgl-btn {
  outline: 0;
  display: block;
  inline-size: calc(3em + 1vi);
  block-size: calc(1.5em + 1vi);
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.toggle-wrapper .tgl + .tgl-btn:after,
.toggle-wrapper .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.toggle-wrapper .tgl + .tgl-btn:after {
  left: 0;
}
.toggle-wrapper .tgl + .tgl-btn:before {
  display: none;
}
.toggle-wrapper .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.toggle-wrapper .tgl-skewed + .tgl-btn {
  overflow: hidden;
  transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.2s ease;
  font-family: sans-serif;
  background: #888;
}
.toggle-wrapper .tgl-skewed + .tgl-btn:after,
.toggle-wrapper .tgl-skewed + .tgl-btn:before {
  transform: skew(10deg);
  display: inline-block;
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: calc(1.5em + 1vi);
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.toggle-wrapper .tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.toggle-wrapper .tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.toggle-wrapper .tgl-skewed + .tgl-btn:active {
  background: #888;
}
.toggle-wrapper .tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.toggle-wrapper .tgl-skewed:checked + .tgl-btn {
  background: #86d993;
}
.toggle-wrapper .tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.toggle-wrapper .tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.toggle-wrapper .tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
} */
